{% extends 'page.twig'%}

{% block header %}
    <div class="col-md-12">
	<h1>New Log Entry</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">

    </div>
{% endblock main %}