{% extends 'page.twig' %}

{% block onload %}
    $('#alert').on('click', function(){
        bootbox.alert('Hello World')
    })
{% endblock onload %}

{% block header %}
    <div class="col-md-12">
	<h1 class="cntr">Welcome!</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="col-md-8">
            <div class="well">
                Welcome to Pensieve! To Get started, create a new log, or view all your logs, use the options in the navigation bar
            </div>
        </div>
    </section>
{% endblock main %}
